legal-automation/workflows/review-reporting/bericht-datensammlung.json
{
  "name": "Bericht — Datensammlung",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * 1"
            }
          ]
        }
      },
      "id": "9e828b36-f630-47d3-8cc7-fafbe02fa059",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/metrics/crm",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "1fd26bc5-ac9a-4859-b7ce-33ba2e0344da",
      "name": "CRM-KPIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        120
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/metrics/billing",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "5abfb305-db98-496b-873c-697a3937bb89",
      "name": "Billing-KPIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/metrics/time",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "57bdeac7-bd11-4b5b-a5d0-5dc12e2e6d9b",
      "name": "Zeiterfassung-KPIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        480
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3cb85d38-9306-492e-8ebd-4554adf7f73a",
      "name": "Daten zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const all = items.map(i => i.json);\nconst combined = { generatedAt: new Date().toISOString(), crm: all[0], billing: all[1], time: all[2] };\nreturn [{ json: combined }];"
      },
      "id": "635f041a-4f5e-4bc4-8f46-1dc7424979b8",
      "name": "Aggregation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/reports/snapshots",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{$json}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "5f246952-1ab7-4310-b659-30446c5aff5d",
      "name": "Snapshot speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowId": {
          "__rl": true,
          "value": "={{$env.WF_BERICHT_INTERN_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "699c77cd-c878-4f8f-8a4d-5d6247e2c93c",
      "name": "Interner Bericht",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowId": {
          "__rl": true,
          "value": "={{$env.WF_BERICHT_EXTERN_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e4596bc1-53e2-4bca-8cd7-babd3e0ef945",
      "name": "Externer Bericht",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1340,
        480
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CRM-KPIs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Billing-KPIs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zeiterfassung-KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM-KPIs": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Billing-KPIs": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zeiterfassung-KPIs": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Daten zusammenführen": {
      "main": [
        [
          {
            "node": "Aggregation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregation": {
      "main": [
        [
          {
            "node": "Snapshot speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot speichern": {
      "main": [
        [
          {
            "node": "Interner Bericht",
            "type": "main",
            "index": 0
          },
          {
            "node": "Externer Bericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{$env.WF_ERROR_HANDLER_ID}}"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f5f45b03-13d3-4678-a5b4-71e097d3c04d",
  "id": "bericht-datensammlung",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "flowstack3"
  },
  "tags": [
    {
      "name": "reporting"
    }
  ]
}
