legal-automation/workflows/review-reporting/bericht-extern.json
{
  "name": "Bericht — Extern",
  "nodes": [
    {
      "parameters": {
        "events": "workflow_call"
      },
      "id": "b8a2af2d-5aa5-4b27-9885-a6995facd545",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/reports/snapshots/latest",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "16f6d266-42c2-44eb-a9ab-769aceacc217",
      "name": "Snapshot laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const j = items[0].json;\ndelete j.crm?.internalNotes;\ndelete j.billing?.profitMargin;\nreturn [{ json: j }];"
      },
      "id": "14854674-8c2a-4138-8961-42766cd86844",
      "name": "Sensible Felder entfernen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Erstelle einen kundengerechten HTML-Report aus folgenden KPIs (DE, ohne Emojis, formell): {{$json}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "faa1cb1d-f4cb-4ced-9a54-034bfc800048",
      "name": "HTML-Report rendern",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.PDF_SERVICE_URL}}/render",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{$json.message.content}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "1cf72318-e9a8-4ec4-9638-5548a7922afe",
      "name": "PDF erstellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/reports/recipients?audience=external",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "c0cf8d98-5f86-4bf8-b689-54dc63ad36d3",
      "name": "Kunden-Verteiler laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "Ihr Bericht",
        "bodyContent": "<p>Im Anhang Ihr Bericht.</p>",
        "bodyContentType": "html",
        "toRecipients": "={{$json.email}}",
        "additionalFields": {}
      },
      "id": "8cc9f212-4609-4ec6-ad6a-98dee159554e",
      "name": "Ihr Quartalsbericht",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Snapshot laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot laden": {
      "main": [
        [
          {
            "node": "Sensible Felder entfernen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sensible Felder entfernen": {
      "main": [
        [
          {
            "node": "HTML-Report rendern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML-Report rendern": {
      "main": [
        [
          {
            "node": "PDF erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF erstellen": {
      "main": [
        [
          {
            "node": "Kunden-Verteiler laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kunden-Verteiler laden": {
      "main": [
        [
          {
            "node": "Ihr Quartalsbericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{$env.WF_ERROR_HANDLER_ID}}"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "249f6822-69f9-413d-815b-df3b30e001ff",
  "id": "bericht-extern",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "flowstack3"
  },
  "tags": [
    {
      "name": "reporting"
    }
  ]
}
