legal-automation/workflows/review-reporting/review-response.json
{
  "name": "Review — Antwort",
  "nodes": [
    {
      "parameters": {
        "events": "workflow_call"
      },
      "id": "3ea5e9e8-535b-484d-9c64-72d97cc85b18",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Schreibe eine professionelle, empathische Antwort auf folgende Bewertung (auf Deutsch, max 800 Zeichen). Bewertung: {{$json.content}}, Sterne: {{$json.stars}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "5d8a6bc3-0e0d-431a-a5b4-365c477139b4",
      "name": "KI-Antwort entwerfen",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/reviews/{{$json.id}}/draft",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "draft",
              "value": "={{$json.message.content}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "75fded44-14d2-48df-bbe5-b09a70355d05",
      "name": "Entwurf speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowId": {
          "__rl": true,
          "value": "={{$env.WF_APPROVAL_SUBPROCESS_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d35c1e03-9a85-4c79-90f6-e5dc0eb60251",
      "name": "Freigabe einholen",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "2fe2ba6f-16de-4584-9e26-02ac9c9dc378",
              "leftValue": "={{$json.approval.status}}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df548e18-40b3-43e0-a1ab-c3490bfc932c",
      "name": "Freigegeben?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/reviews/{{$json.id}}/publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.draft}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "38c07ce3-08b7-4b67-9ad8-90e76f7cf4be",
      "name": "Antwort veröffentlichen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {},
      "id": "51ed3876-43bc-4585-8436-2fb6fb96d549",
      "name": "Nicht freigegeben — verworfen",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        480
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "KI-Antwort entwerfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI-Antwort entwerfen": {
      "main": [
        [
          {
            "node": "Entwurf speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entwurf speichern": {
      "main": [
        [
          {
            "node": "Freigabe einholen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freigabe einholen": {
      "main": [
        [
          {
            "node": "Freigegeben?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freigegeben?": {
      "main": [
        [
          {
            "node": "Antwort veröffentlichen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nicht freigegeben — verworfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{$env.WF_ERROR_HANDLER_ID}}"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f83c34df-c5df-4517-8f08-4690d9f69d5c",
  "id": "review-response",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "flowstack3"
  },
  "tags": [
    {
      "name": "review"
    },
    {
      "name": "response"
    }
  ]
}
