legal-automation/workflows/meeting-protocols/protokoll-erstellung.json
{
  "name": "Protokoll — Erstellung",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "protokoll-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aee42316-8413-498c-a93e-709d3d98add6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.body.audioUrl}}",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "4f634362-669b-419c-8d60-265386c8c738",
      "name": "Audio holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "file",
              "value": "={{$binary.data}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "e2f9d89c-3887-451b-9a49-4553f7907d8f",
      "name": "Transkription (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Erstelle ein strukturiertes Meeting-Protokoll auf Deutsch aus folgender Transkription. Liefere JSON mit Feldern: summary, decisions[], actionItems[]. Transkript: {{$json.text}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "e0702385-8536-42fb-9366-2eb58c2056fe",
      "name": "Zusammenfassung & Aktions-Items",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/protocols",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "meetingId",
              "value": "={{$json.body.meetingId}}"
            },
            {
              "name": "summary",
              "value": "={{$json.message.content}}"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "dbdc8e0e-f8ab-416e-8363-b715c163638d",
      "name": "Protokoll speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowId": {
          "__rl": true,
          "value": "={{$env.WF_PROTOKOLL_FREIGABE_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "dcce7748-f8c0-4f38-a559-08fe6ced1ddf",
      "name": "Freigabe-Subprozess",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "bd891363-ddf7-495e-9842-254e082ff559",
      "name": "Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Audio holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio holen": {
      "main": [
        [
          {
            "node": "Transkription (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkription (Whisper)": {
      "main": [
        [
          {
            "node": "Zusammenfassung & Aktions-Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zusammenfassung & Aktions-Items": {
      "main": [
        [
          {
            "node": "Protokoll speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Protokoll speichern": {
      "main": [
        [
          {
            "node": "Freigabe-Subprozess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freigabe-Subprozess": {
      "main": [
        [
          {
            "node": "Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{$env.WF_ERROR_HANDLER_ID}}"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "45937875-fb7f-4d8e-bc8b-971f5bc6f231",
  "id": "protokoll-erstellung",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "flowstack3"
  },
  "tags": [
    {
      "name": "meeting"
    },
    {
      "name": "ai"
    }
  ]
}
