legal-automation/workflows/triage-error-handling/follow-up-error-handler.json
{
  "name": "Follow-up — Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "b64fb12e-0856-495e-baf4-4336aaafe4c5",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "74d19318-4c0a-4c4f-b674-60d7c9a8a513",
              "leftValue": "={{$json.workflow.name}}",
              "rightValue": "follow-up",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc1cb536-25ca-4171-b477-c2bb46d49dfe",
      "name": "Aus Follow-up-Workflow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/follow-ups/{{$json.execution.data.id}}/requeue",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reason",
              "value": "={{$json.execution.error.message}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "c9aefb9a-b6e1-4eac-ad4f-cc33b5a21062",
      "name": "Follow-up wieder einplanen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowId": {
          "__rl": true,
          "value": "={{$env.WF_ERROR_HANDLER_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "be7e8958-b891-4fed-a2c2-227a15b0359f",
      "name": "An globalen Error-Handler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/audit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "follow-up.error"
            },
            {
              "name": "message",
              "value": "={{$json.execution.error.message}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "67738f62-158f-461d-ba1f-6e16d896a63b",
      "name": "Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Aus Follow-up-Workflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aus Follow-up-Workflow?": {
      "main": [
        [
          {
            "node": "Follow-up wieder einplanen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "An globalen Error-Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up wieder einplanen": {
      "main": [
        [
          {
            "node": "Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "An globalen Error-Handler": {
      "main": [
        [
          {
            "node": "Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "28e229ae-a645-48c1-8d65-3ddc154a32bf",
  "id": "follow-up-error-handler",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "flowstack3"
  },
  "tags": [
    {
      "name": "error"
    },
    {
      "name": "follow-up"
    }
  ]
}
