legal-automation/workflows/client-lifecycle/doc-request-processing.json
{
  "name": "Dokumentenanforderung — Verarbeitung",
  "nodes": [
    {
      "parameters": {
        "events": "workflow_call"
      },
      "id": "f3ae85ef-123f-459e-acee-03b5f7a470b9",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/uploads/{{$json.linkId}}/files",
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "1ef66ab3-9351-42c7-8aff-83a2a24ededd",
      "name": "Hochgeladene Dateien auflisten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OCR_SERVICE_URL}}/v1/extract",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileUrl",
              "value": "={{$json.fileUrl}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "b162a6ce-5696-4011-b9ec-d8687130e05f",
      "name": "OCR ausführen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1c667046-4b57-43e4-971e-06f32a23d1b3",
              "leftValue": "={{$json.text.length}}",
              "rightValue": 50,
              "operator": {
                "type": "string",
                "operation": "largerEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6b95455-c864-489d-ad2b-b5668316b2ee",
      "name": "Validierung erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/documents",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caseId",
              "value": "={{$json.request.caseId}}"
            },
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "c0a52036-6c50-4712-b7c8-5bce44d57029",
      "name": "In DMS ablegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/uploads/{{$json.fileId}}/reject",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reason",
              "value": "OCR fehlgeschlagen"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "b0d9dfb4-e899-4f35-831b-284a3115c6a3",
      "name": "Datei zurückweisen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FLOWSTACK_API_URL}}/api/tasks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Neue Dokumente verfügbar"
            },
            {
              "name": "caseId",
              "value": "={{$json.request.caseId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.FLOWSTACK_API_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "c763d7fa-4958-4f01-95f3-7e9cbc6057c2",
      "name": "Sachbearbeiter benachrichtigen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Hochgeladene Dateien auflisten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hochgeladene Dateien auflisten": {
      "main": [
        [
          {
            "node": "OCR ausführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR ausführen": {
      "main": [
        [
          {
            "node": "Validierung erfolgreich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validierung erfolgreich?": {
      "main": [
        [
          {
            "node": "In DMS ablegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datei zurückweisen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In DMS ablegen": {
      "main": [
        [
          {
            "node": "Sachbearbeiter benachrichtigen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{$env.WF_ERROR_HANDLER_ID}}"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "3a531f04-0687-4b43-9f8f-8c5a652297a7",
  "id": "doc-request-processing",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "flowstack3"
  },
  "tags": [
    {
      "name": "client-lifecycle"
    },
    {
      "name": "documents"
    }
  ]
}
